<!DOCTYPE html>
<html lang="en">
<head>
    <title>My App: {{inputs.project_name}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1" />
</head>
<body>
<div class="wrapper">
    <a href="https://www.stackspot.com" class="logo" target="_blank" rel="noopener noreferrer">
        <img src="logo.png" alt="StackSpot" />
    </a>
    <div class="illustration">
        <img src="img.png" alt="illustration" />
    </div>
    <div>
        <h1 class="title">{{ inputs.greeting_message }} Stacker!</h1>
        <p class="description">
            <br/>Parabéns por chegar até aqui! <br/>
            <br/>Agora que você já conhece nosso produto, que tal criar algo de verdade!
            <br/>
            <br/>Utilizando nossos estúdios você conseguirá criar uma API em minutos, bora tentar?<br/></p>
    </div>
    <a href="https://www.stackspot.com/studios" class="button" target="_blank" rel="noopener noreferrer">Visitar Estúdios </a>
</div>
</body>
</html>
